.firstDiv  {
    margin: 40 auto;
    text-align: center;
}

.secondDiv {
    margin: 5 auto;
    text-align: left;
}

.thirdDiv {
    margin: 5 auto;
    text-align: right;
}
.button  {
    background-color: #fa00d9;

}

p {
    color:orangered;
    font-style: oblique;
    background-color: #333;
}

.photoMe {
    margin-top: 35px;
    border: 10px solid #e62c2c;
    border-radius: 10px;
}

.mudaDio {
    margin-top: 35px;
    border: 10px solid #0af531;
    border-radius: 10px;
}

html 
{
    height: 100%;
    }
    body {
    background-image: repeating-radial-gradient(white,grey,black);
    }

.joeyWheeler { 
    /* meme material */ 
    background-image: url('./photos/Joey_Wheeler_Chad_Chin.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 400px;
    width: 400px;
} 

.videos {
    
    background-size: cover; 
    background-position: center; 
    height: 400px;
    width: 400px;
}
.basicbutton {
    background-color: brown;
}

.yugiohCardPhoto {
    margin-top: 35px;
    border: 10px solid #f9fd00;
    border-radius: 10px;
}

.chessDisplay {
    margin-top: 35px;
    border: 10px solid #f700e2;
    border-radius: 10px;
}